.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-card {
  /* background-color: #ff63a365; */
  border: 1px solid #f0f0f0;
  margin-top: 10px;
}
